{% for evento in eventos %}
<div class="col l3 s12 m6">
    {% if eve_for == 'admin' %}
    <div class="row">
        <div class="col l12">
            <a href="{% url 'page:edEvento' evento.folio %}" class="btn-small blue"><i
                    class="material-icons">edit</i></a>
            <button data-url="{% url 'page:eEvento' evento.folio %}" class="btn-small red delete-event"><i
                    class="material-icons">close</i></button>
            {% if not evento.is_published %}
            <button data-url="{% url 'page:pEvento' evento.folio %}"
                class="btn-small blue publish-event">Publicar</button>
            {% else %}
            <button data-url="{% url 'page:oEvento' evento.folio %}" class="btn-small blue hide-event">Ocultar</button>
            {% endif %}
        </div>
    </div>
    {% endif %}
    <div class="card-panel">
        <h6><b>{{evento.titulo}}</b></h6>
        <div class="divider"></div>
        <p><i class="tiny material-icons">event</i>&nbsp;{{evento.fecha}}</p>
        <p><i class="tiny material-icons">schedule</i>&nbsp;{{evento.hora}}</p>
        <p><i class="tiny material-icons">place</i>&nbsp;{{evento.lugar}}</p>
    </div>
</div>
{% endfor %}