html,body {
    margin: 0 !important;
    padding: 0 !important;
}

.container{
    width: 85% !important;
}

#parent-section{
    background-color: white;
}

img{
    object-fit: fill !important;
}

/* Background video */
#video-container{
    width: 100%;
    height: 100vh;
}

#video-container > #video-background{
    width: 100%;
    height: 100vh;
    object-fit: fill;
    position: fixed;
    z-index: -1;
}


.section-container{
    padding: 60px;
    width: 100%;
}

.section-container-color{
    background-color: #F2F2F2;
}

.border-container{
    border-width:15px 15px 15px 15px;
    border-style:solid solid solid solid;
    border-color: #C19A6B #C19A6B #C19A6B #C19A6B;
}

.section-text-container-right{
    padding-left: 100px !important;
}

.section-text-container-left{
    padding-right: 100px !important;
}

.text-header{
    color: #C19A6B; 
}

.advisory-container{
    text-align: justify;
}

.svg-advisory{
    background-color: rgba(193, 154, 107, 0.2);
    border-radius: 50%;
    padding: 15px;
    width: 80px;
}

.article-notice{
    border-bottom: 1px solid #e0e0e0;
}


/* .video-back {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

    
.video-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
  
video{
  	width: 100%;
  	height: auto;
}

.cont-img{
	/*padding: .75rem .75rem 0 0 !important;*/
	/* padding: .75rem 0 0 0	 !important;
}

footer, nav{
    background:#982246 !important;
}

.modal { 
    width: 30% !important ;
    height: 45% !important ;
 } 

.btn-modal:hover{
    color: #b59a69 !important;
}

@media only screen and (max-width: 700px) {
    .modal { 
        width: 90% !important ;
        height: 45% !important ;
     } 
  }


#elemento1{
    width: 50px;
    height: 50px;
    position: absolute;
} */ 