html, body {
    margin: 0 !important;
    padding: 0 !important;
    overflow-x: hidden;
}

.container {
    width: 100% !important;
}

#parent-section {
    background-color: white;
}

img {
    object-fit: fill !important;
}

/* Background video */

#video-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#video-container>#video-background {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

#video-container>.text-video {
    font-size: 40px;
    text-align: center;
    color: white;
    width: 70%;
    z-index: 999;
}

.sidenav {
    background-color: rgba(39, 16, 0, 0.8) !important;
    z-index: 9999 !important;
}

.sidenav>li>a {
    color: white !important;
}

@media (max-width: 600px) {
    #video-container>.text-video {
        font-size: 8vw;
        text-align: center;
    }
    .section-container .text-title-section {
        font-size: 11vw;
    }
    .section-container .text-subtitle-section {
        font-size: 4vw;
    }
    .section-container .text-section-parent {
        padding-bottom: 7px !important;
    }
    #video-container>#video-background {
        width: 100%;
        height: 100vh;
        object-fit: cover;
        position: fixed;
        z-index: -1;
    }
}

@media screen and (min-width: 601px) and (max-width: 850px) {
    #video-container>.text-video {
        font-size: 5vw;
        text-align: center;
    }
}

#video-container>.header-overlay {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #225470;
    background-color: rgba(39, 16, 0, 0.5);
    z-index: 1;
    /* opacity: 0.75; */
}

.logo-img {
    height: 80px !important;
}

.section-container {
    padding: 6%;
    width: 100%;
}

.section-container-color {
    background-color: #F2F2F2;
}

.text-header {
    color: rgb(177, 147, 94);
}

.text-title-section {
    font-size: 4vw;
}

.text-section-parent {
    padding: 0 6% 0 6% !important;
}

.text-subtitle-section {
    font-size: 2vw;
    text-align: center;
}

.btn-dorado {
    background-color: rgb(177, 147, 94) !important;
}

.advisory-container {
    text-align: justify;
}

.advisory-container p {
    cursor: pointer;
}

.advisory-container p {
    padding-left: 8%;
    padding-right: 8%;
}

.svg-advisory {
    /* background-color: rgba(193, 154, 107, 0.2);
    border-radius: 50%;
    padding: 15px; */
    width: 100px;
}

.article-notice {
    margin-bottom: 20px;
}

.uk-overlay-primary {
    background: rgba(39, 16, 0, 0.7) !important;
}

.uk-overlay {
    color: white !important;
    padding: 10px !important;
}

footer {
    background: #9d2449 !important;
}

.navbar>nav {
    position: absolute !important;
    z-index: 999 !important;
    background-color: transparent !important;
    box-shadow: none !important;
}

nav a {
    color: white !important;
}

.scrolltotop {
    display: none;
    position: fixed;
    background-color: #C19A6B;
    padding: 10px;
    color: white;
    bottom: 40px;
    right: 40px;
}

.page-footer {
    background-color: #C19A6B !important;
}

.footer-copyright {
    background-color: #B18D62 !important;
}

.article-event {
    padding-bottom: 10px !important;
}

.card-panel .material-icons {
    color: rgb(177, 147, 94);
}

.overflow-color {
    background-color: #B18D62;
}

.special-section {
    background-color: rgba(177, 147, 94, 0.98);
}

/* poner color a la parte de avisos cafe con opacidd */

.overflow-img {
    position: relative;
    top: 10px;
}

a {
    color: white !important;
    text-decoration: none !important;
}

.flex {
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.article-notice img {
    width: 100% !important;
    height: 250px;
}