{% extends 'base/base.html' %}
{% load static %}
{% load customtags %}
{% block title %}Esencia Landing Page | Asesorías y Trámites{% endblock %}
{% block maincontent %}
<div class="container">
    <br>
    <br>
    <h4 class="title-color">Editando Asesoría o Trámite</h4>
    <div class="divider"></div>
    <br>
    <form id="form-section" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="input-field">
            {{fasesoria.titulo}}
            {{fasesoria.titulo.label_tag}}
        </div>
        <div class="input-field">
            {{fasesoria.contenido}}
            {{fasesoria.contenido.label_tag}}
        </div>
        <div class="input-field">
            {{fasesoria.extra}}
            {{fasesoria.extra.label_tag}}
        </div>
        <div class="file-field input-field">
            <div class="btn btn-color">
                <span>Media</span>
                {{fmultimedia.media}}
            </div>
            <div class="file-path-wrapper">
                <input class="file-path" type="text">
            </div>
        </div>
        <div class="row right-align">
            <a class="btn grey lighten-1" href="{% url 'page:asesorias' %}">cancelar</a>
            <button class="btn btn-color" type="submit">Guardar</button>
        </div>
    </form>
    <br>
    <h5 class="title-color center-align">Imágenes</h5>
    <ul class="collapsible">
        {% for media in asesoria.media.all %}
        <li>
            <div class="collapsible-header"><i class="material-icons icon-color">image</i>{{media.nombre}}</div>
            <div class="collapsible-body center-align">
                <img src="{% get_media_prefix %}{{media.media}}" alt="" class="responsive-img">
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
{% block extrafunctions %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.collapsible');
        var instances = M.Collapsible.init(elems);
    });
</script>
{% endblock %}