	<section class="video-back">
		<div class="video-container">
			<video autoplay loop class="embed-responsive-item">
				<source src="static/videos/Top_Highway.mp4" type="video/mp4">
				<source src="static/videos/Top_Highway.webm" type="video/webm">
				<source src="static/videos/Top_Highway.ogv" type="video/ogg">
			</video>
		</div>
	</section>

	<section id="sec1" style="background: #DCDCDC;">
		<div class="row sect1 aos-item" data-aos="fade-right" data-aos-duration="700" data-aos-easing="ease-in-sine">
			<div class="col l6 cont-img">
				<img class="responsive-img" src="static/imagenes/index_section1.png">
			</div>
			<div class="cont1 col l6" data-aos="fade-right" data-aos-offset="300">
				<h2>300</h2>
				<h4>Empresas registradas</h4>
				<p>Los productos que ya son parte del programa y sus beneficios </p>
				<div id="elemento1">
					<i class="material-icons">mood</i>
				</div>

			</div>
		</div>
	</section>

	<section style="background: #FFE4C4;">
		<div class="row sect2">
			<div class="cont2 col l6" data-aos="fade-right" data-aos-offset="300">
				<h2></h2>
				<h4>IMPULSANDO A MIPyME's</h4>
				<p>Hemos equipado a productores tabasqueños con maquinaria para mejorar sus procesos de producción</p>
			</div>
			<div class="col l6 cont-img" data-aos="fade-right" data-aos-duration="700" data-aos-easing="ease-in-sine">
				<img class="responsive-img" src="static/imagenes/FB_IMG_15711570797644995.jpg">
			</div>
		</div>
	</section>

	<section>
		<div class="row sect3">
			<div class="col l6 cont-img" data-aos="fade-right" data-aos-duration="700" data-aos-easing="ease-in-sine">
				<img class="responsive-img" src="static/imagenes/BeFunky-collage.jpg">
			</div>
			<div class="cont1 col l6" data-aos="fade-left" data-aos-offset="300">
				<h2>Distribuye</h2>
				<h4>Tus productos</h4>
				<p>Acercate a nosotros te orientamos para que puedas distribuir tus productos</p>
			</div>
		</div>
	</section>

	<section class="asesorias">
		<div class="row sect4">
			<div class="col l6">
				<div class="row" data-aos="fade-up" data-aos-duration="2000">
					<div class="col l2">
						<i class="medium material-icons">assignment_ind</i>
					</div>
					<div class="col l10">
						<h5 class="header">Asesorías y registro a Esencia Tabasco</h5>
						<p>Orientacion en los requisitos</p>
						<p>
							Horarios de atencion: Lunes a Viernes de 9am a 3pm
						</p>
					</div>
				</div>
			</div>
			<div class="col l6">
				<div class="row" data-aos="fade-up" data-aos-duration="3000">
					<div class="col l2">
						<i class="medium material-icons">assignment_ind</i>
					</div>
					<div class="col l10">
						<h5 class="header">Asesoría y registro de Marcas</h5>
						<p>Orientacion en los requisitos</p>
						<p>
							Horarios de atencion: Lunes a Miercoles de 10 a.m a 2 p.m
						</p>
					</div>
				</div>
			</div>
			<div class="col l6">
				<div class="row" data-aos="fade-up" data-aos-duration="2100">
					<div class="col l2">
						<i class="medium material-icons">assignment_ind</i>
					</div>
					<div class="col l10">
						<h5 class="header">Asesoría y registro de Código de Barras</h5>
						<p>Orientacion en los requisitos</p>
						<p>
							Horarios de atencion: Lunes a Jueves de 11 a.m a 2 p.m
						</p>
					</div>
				</div>
			</div>
			<div class="col l6">
				<div class="row" data-aos="fade-up" data-aos-duration="2900">
					<div class="col l2">
						<i class="medium material-icons">assignment_ind</i>
					</div>
					<div class="col l10">
						<h5 class="header">Asesoría y registro de Código de Barras</h5>
						<p>Orientacion en los requisitos</p>
						<p>
							Horarios de atencion: Martes y Jueves de 10 a.m a 2 p.m
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="row sect5">
			<div class="col l8">
				<h5>Enterate</h5>
				<div class="row">
					<div class="col l3">
						<img class="responsive-img" src="static/imagenes/FB_IMG_15711567829806009.jpg" alt="">
					</div>
					<div class="col l9">
						<p>Seguimos trabajando MIPYMES</p>
						<p>Esencia Tabasco fortaleciendo a productores</p>
					</div>
				</div>
				<div class="row">
					<div class="col l3">
						<img class="responsive-img" src="static/imagenes/FB_IMG_15711567829806009.jpg" alt="">
					</div>
					<div class="col l9">
						<p>Seguimos trabajando MIPYMES</p>
						<p>Esencia Tabasco fortaleciendo a productores</p>
					</div>
				</div>
			</div>
			<div class="col l4">
				<h5>Eventos</h5>
				<div class="row">
					<div class="col l4">
						<img class="responsive-img" src="static/imagenes/FB_IMG_15711570854067992.jpg">
					</div>
					<div class="col l8">
						<p>Entrega de equipos</p>
					</div>
				</div>
				<div class="row">
					<div class="col l4">
						<img class="responsive-img" src="static/imagenes/FB_IMG_15711570797644995.jpg">
					</div>
					<div class="col l8">
						<p>Entrega de equipos</p>
					</div>
				</div>

				<div class="row">
					<div class="col l4">
						<img class="responsive-img" src="static/imagenes/FB_IMG_15711570797644995.jpg">
					</div>
					<div class="col l8">
						<p>Entrega de equipos</p>
					</div>
				</div>
				<div class="row">
					<div class="col l4">
						<img class="responsive-img" src="static/imagenes/FB_IMG_15711570797644995.jpg">
					</div>
					<div class="col l8">
						<p>Entrega de equipos</p>
					</div>
				</div>
				<div class="row">
					<div class="col l4">
						<img class="responsive-img" src="static/imagenes/FB_IMG_15711570797644995.jpg">
					</div>
					<div class="col l8">
						<p>Entrega de equipos</p>
					</div>
				</div>


			</div>
		</div>
	</section>
	<footer class="page-footer">
		<div class="container">
			<div class="row">
				<div class="col l6 s12">
					<img src="static/imagenes/SEDEC_logo-04.png" width="190" height="150" alt="">
				</div>
				<div class="col l4 offset-l2 s12">
					<!-- <h5 class="white-text">Links</h5>
					<ul>
						<li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
						<li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
						<li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
						<li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
					</ul> -->
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container">
				© | Política de privacidad
				Sitio diseñado por la Secretaría para el Desarrollo Económico y la Competitividad
				<a class="grey-text text-lighten-4 right" href="#!">Avsio de privacidad</a>
			</div>
		</div>
	</footer>







	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<script type="text/javascript">
		document.addEventListener('DOMContentLoaded', function () {
			M.AutoInit();
		});

		document.addEventListener('DOMContentLoaded', function () {
			var elems2 = document.querySelectorAll('.modal');
			var instances2 = M.Modal.init(elems2, {
				opacity: .9,
			});
		});

		document.addEventListener('DOMContentLoaded', function () {
			var elems = document.querySelectorAll('.dropdown-trigger');
			//var instances = M.Dropdown.init(elems, option);
			var instances = M.Dropdown.init(elems);
		});



	</script>
	<script>
		/*Animaciones*/
		myMove();
		AOS.init();

		function myMove() {
			var elem = document.getElementById("elemento1");
			var pos = 0;
			var id = setInterval(frame, 15);
			function frame() {
				if (pos == 750) {
					clearInterval(id);
					myMove();
				} else {
					pos++;
					//elem.style.top = pos + "px";
					elem.style.right = pos + "px";
				}
			}
		}
	</script>