{% load static %}
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="format-detection" content="telephone=no" />
	<link rel="stylesheet" href="{% static 'css/style.css' %}" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<body>
	<!-- <header>
		<div class="navbar-fixed">
			<nav>
				<div class="nav-wrapper container">
					<a href="#!" class="brand-logo"> Esencia Tabasco .v1</a>
					<a href="" data-target="menu" class="sidenav-trigger">
						<i class="material-icons">menu</i>
					</a>
					<ul class="right hide-on-med-and-down">
						<li><a href="">Enlace1</a></li>
						<li><a href="">Enlace2</a></li>
						<li>
							<a href="" class="dropdown-trigger" data-target="id_submenu1">Opciones
								<i class="material-icons right">arrow_drop_down</i>
							</a>
						</li>
						<li>
							<button
								class="btn waves-effect waves-teal modal-trigger blue lighten-4 black-text btn-modal"
								data-target="modal-sesion">Iniciar sesión</button>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</header> -->
	<main>
		<section id="video-container">
			<video autoplay loop id="video-background">
				<source src="{% static 'videos/Top_Highway.webm' %}" type="video/webm">
			</video>
		</section>
		<section id="parent-section">
			<section class="section-container">
				<div class="container">
					<div class="row">
						<div class="col l6 border-container z-depth-2" data-aos="fade-right" data-aos-duration="500"
							data-aos-easing="ease" data-aos-delay="400">
							<img src="{% static 'images/index_section1.png' %}" alt="" class="responsive-img">
						</div>
						<div class="col l6 section-text-container-right " data-aos="fade-right" data-aos-duration="500"
							data-aos-easing="ease" data-aos-delay="700">
							<h1 class="center-align text-header">300</h1>
							<h3 class="center-align">Empresas registradas</h3>
						</div>
					</div>
				</div>
			</section>
			<section class="section-container section-container-color">
				<div class="container">
					<div class="row">
						<div class="col l6 section1-text-container section-text-container-left" data-aos="fade-left"
							data-aos-duration="500" data-aos-easing="ease" data-aos-delay="700">
							<h1 class="center-align text-header">IMPULSANDO A MIPyME's</h1>
							<h5>Hemos equipado a productores tabasqueños con maquinaria para mejorar sus procesos de
								producción.</h5>
						</div>
						<div class="col l6 border-container z-depth-2" data-aos="fade-left" data-aos-duration="500"
							data-aos-easing="ease" data-aos-delay="400">
							<img src="{% static 'images/FB_IMG_15711570797644995.jpg' %}" alt="" class="responsive-img">
						</div>
					</div>
				</div>
			</section>
			<section class="section-container">
				<div class="container">
					<div class="row">
						<div class="col l6 border-container z-depth-2" data-aos="fade-right" data-aos-duration="500"
							data-aos-easing="ease" data-aos-delay="400">
							<img src="static/images/BeFunky-collage.jpg" alt="" class="responsive-img">
						</div>
						<div class="col l6 section1-text-container section-text-container-right" data-aos="fade-right"
							data-aos-duration="500" data-aos-easing="ease" data-aos-delay="700">
							<h1 class="center-align text-header">DISTRIBUYE TUS PRODUCTOS</h1>
							<h5 class="center-align">Acércate a nosotros, te orientamos para que puedas distribuir tus
								productos</h5>
						</div>
					</div>
				</div>
			</section>
			<section class="section-container">
				<h1 class="text-header center-align" data-aos="zoom-in" data-aos-duration="500" data-aos-easing="ease">
					AESORÍAS Y TRÁMITES</h1>
				<div class="divider"></div>
			</section>
			<section class="section-container">
				<div class="container">
					<div class="row">
						<div class="col l6 advisory-container" data-aos="fade-up" data-aos-duration="500"
							data-aos-easing="ease" data-aos-delay="300">
							<div class="row">
								<img src="static/images/handshake.svg" alt="" class="svg-advisory">
							</div>
							<h6 class="text-header"><b>ASESORÍA Y REGISTRO A ESENCIA TABASCO</b></h6>
							<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro, quasi unde, labore at
								adipisci est incidunt molestias modi suscipit ad cum mollitia maxime alias delectus
								nihil non atque nostrum optio.</p>
						</div>
						<div class="col l6 advisory-container" data-aos="fade-up" data-aos-duration="500"
							data-aos-easing="ease" data-aos-delay="500">
							<div class="row">
								<img src="static/images/handshake.svg" alt="" class="svg-advisory">
							</div>
							<h6 class="text-header"><b>ASESORÍA Y REGISTRO DE MARCAS</b></h6>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis assumenda facilis
								veniam debitis explicabo similique accusantium quas atque saepe repellat error
								aspernatur tempora tempore, sapiente culpa dolorem, qui corporis voluptates!</p>
						</div>
						<div class="col l6 advisory-container" data-aos="fade-up" data-aos-duration="500"
							data-aos-easing="ease" data-aos-delay="300">
							<div class="row">
								<img src="static/images/handshake.svg" alt="" class="svg-advisory">
							</div>
							<h6 class="text-header"><b>ASESORÍA Y TRÁMITES PARA CÓDIGO DE BARRAS</b></h6>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid illum vel veniam natus
								animi commodi perferendis quod accusantium, reprehenderit dolorum unde. Facilis porro,
								laboriosam unde itaque tempora blanditiis! Vero, sed?</p>
						</div>
						<div class="col l6 advisory-container" data-aos="fade-up" data-aos-duration="500"
							data-aos-easing="ease" data-aos-delay="500">
							<div class="row">
								<img src="static/images/handshake.svg" alt="" class="svg-advisory">
							</div>
							<h6 class="text-header"><b>ASESORÍA DE DISEÑO DE MARCAS</b></h6>
							<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt minima voluptates,
								sint et voluptas repellat ullam, rem id delectus qui modi quae. Enim, non. Eligendi
								aspernatur nihil debitis veniam maiores.</p>
						</div>
					</div>
				</div>
			</section>
			<section class="section-container">
				<div class="row">
					<div class="col l7">
						<h4 class="text-header">ENTÉRATE</h4>
						<article class="article-notice">
							<div class="row">
								<div class="col l4">
									<img src="" alt="">
								</div>
								<div class="col l8">
									<h5><b>Noticia 1</b></h5>
									<p>
										Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo, doloribus
										in ea eos iusto fugiat
									</p>
								</div>
							</div>
						</article>
						<article class="article-notice">
							<div class="row">
								<div class="col l4">
									<img src="" alt="">
								</div>
								<div class="col l8">
									<h5><b>Noticia 1</b></h5>
									<p>
										Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo, doloribus
										in ea eos iusto fugiat
									</p>
								</div>
							</div>
						</article>
						<article class="article-notice">
							<div class="row">
								<div class="col l4">
									<img src="static/images/FB_IMG_15711571202497070.jpg" alt="" class="responsive-img">
								</div>
								<div class="col l8">
									<h5><b>Noticia 1</b></h5>
									<p>
										Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo, doloribus
										in ea eos iusto fugiat
									</p>
								</div>
							</div>
						</article>
					</div>
					<div class="col l5">
						<!-- <h4>Eventos</h4> -->
					</div>
				</div>
			</section>
		</section>
	</main>
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<script>
		AOS.init();
	</script>
</body>

</html>