{% load static %}
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<style>
		#preloader {
			position: fixed;
			z-index: 9999;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: white;
		}

		#loader {
			position: absolute;
			top: calc(50% - 1.25em);
			left: calc(50% - 1.25em);
			animation: beat .40s infinite alternate;
			transform-origin: center;
		}

		/* Heart beat animation */
		@keyframes beat {
			to {
				transform: scale(1.4);
			}
		}
	</style>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/css/uikit.min.css" />
	<link rel="stylesheet" href="{% static 'materialize/css/materialize.min.css' %}">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="{% static 'aos/aos.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>

<body>
	<div id="preloader">
		<img src="{% static 'images/logo-esencia-dorado-min.png' %}" alt="" id="loader" width="40px">
	</div>
	<div id="fb-root"></div>
	<script async defer crossorigin="anonymous"
		src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v4.0"></script>
	<header>
		<div class="navbar">
			<nav>
				<div class="nav-wrapper container">
					<a href="#!" class="brand-logo"> <img class="responsive-img logo-img"
							src="{% static 'images/logo-esencia-blanco.png'%}" alt=""></a>
					<a href="#" data-target="menu-mobile" class="sidenav-trigger">
						<i class="material-icons">menu</i>
					</a>
					<ul class="right hide-on-med-and-down">
						<li><a href="#asesorias" uk-scroll>Asesorías y Trámites</a></li>
						<li><a href="#noticias" uk-scroll>Noticias</a></li>
						<li><a href="#eventos" uk-scroll>Eventos</a></li>
						<li><a href="#contactanos" uk-scroll>Contáctanos</a></li>
					</ul>
				</div>
			</nav>
			<ul class="sidenav" id="menu-mobile">
				<li><a href="#asesorias" uk-scroll>Asesorías y Trámites</a></li>
				<li><a href="#noticias" uk-scroll>Noticias</a></li>
				<li><a href="#eventos" uk-scroll>Eventos</a></li>
				<li><a href="#contactanos" uk-scroll>Contáctanos</a></li>
			</ul>
		</div>
	</header>
	<main>
		<section id="video-container">
			<video autoplay loop id="video-background">
				<source src="{% static 'videos/video-background.mp4' %}" type="video/webm">
			</video>
			<div class="header-overlay"></div>
			<div class="text-video" data-aos="fade-up" data-aos-duration="500" data-aos-easing="ease">
				<p>Comercializa y promueve tu marca con el distintivo <b class="text-header">Esencia Tabasco</b>, para
					fortalecer
					el posicionamiento y lanzamiento de tu empresa </p>
				<a class="btn-large waves-red btn-dorado" href="#">Regístrate</a>
			</div>
		</section>
		<section id="parent-section">
			<section class="section-container section-container-color">
				<div class="container">
					<div class="row">
						<div class="col l6 offset-m2 m8 s12 overflow-color" data-aos="fade-right"
							data-aos-duration="500" data-aos-easing="ease" data-aos-delay="400">
							<div class="uk-visible-toggle overflow-img" tabindex="-1"
								uk-slideshow="autoplay: true; animation: fade; autoplay-interval: 3000">
								<ul class="uk-slideshow-items">
									<li>
										<img src="{% static 'images/index_section1.png' %}" alt=""
											class="responsive-img z-depth-3" uk-cover>
									</li>
									<li>
										<img src="{% static 'images/BeFunky-collage.jpg'%}" alt=""
											class="responsive-img z-depth-3" uk-cover>
									</li>
									<li>
										<img src="{% static 'images/FB_IMG_15711570797644995.jpg' %}" alt=""
											class="responsive-img" uk-cover>
									</li>
								</ul>
								<a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#"
									uk-slidenav-previous uk-slideshow-item="previous"></a>
								<a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#"
									uk-slidenav-next uk-slideshow-item="next"></a>
							</div>
						</div>
						<div class="col l6 m12 s12 text-section-parent" data-aos="fade-right" data-aos-duration="500"
							data-aos-easing="ease" data-aos-delay="700">
							<h1 class="center-align text-header text-title-section">300</h1>
							<h5 class="text-subtitle-section">Empresas registradas</h5>
						</div>
					</div>
				</div>
			</section>
			<section class="section-container">
				<div class="container">
					<div class="row">
						<div class="col l6 m12 s12 text-section-parent" data-aos="fade-left" data-aos-duration="500"
							data-aos-easing="ease" data-aos-delay="700">
							<h1 class="center-align text-header text-title-section">Impulsando a MIPyME's</h1>
							<h5 class="text-subtitle-section">Hemos equipado a productores tabasqueños con maquinaria
								para mejorar sus procesos de
								producción.</h5>
						</div>
						<div class="col l6 offset-m2 m8 s12 overflow-color" data-aos="fade-left" data-aos-duration="500"
							data-aos-easing="ease" data-aos-delay="400">
							<div class="uk-visible-toggle overflow-img" tabindex="-1"
								uk-slideshow="autoplay: true; animation: fade; autoplay-interval: 3000">
								<ul class="uk-slideshow-items">
									<li>
										<img src="{% static 'images/index_section1.png' %}" alt=""
											class="responsive-img z-depth-3" uk-cover>
									</li>
									<li>
										<img src="{% static 'images/BeFunky-collage.jpg'%}" alt=""
											class="responsive-img z-depth-3" uk-cover>
									</li>
									<li>
										<img src="{% static 'images/FB_IMG_15711570797644995.jpg' %}" alt=""
											class="responsive-img" uk-cover>
									</li>
								</ul>
								<a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#"
									uk-slidenav-previous uk-slideshow-item="previous"></a>
								<a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#"
									uk-slidenav-next uk-slideshow-item="next"></a>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="section-container section-container-color">
				<div class="container">
					<div class="row">
						<div class="col l6 offset-m2 m8 s12 overflow-color" data-aos="fade-right"
							data-aos-duration="500" data-aos-easing="ease" data-aos-delay="400">
							<div class="uk-visible-toggle overflow-img" tabindex="-1"
								uk-slideshow="autoplay: true; animation: fade; autoplay-interval: 3000">
								<ul class="uk-slideshow-items">
									<li>
										<img src="{% static 'images/index_section1.png' %}" alt=""
											class="responsive-img z-depth-3" uk-cover>
									</li>
									<li>
										<img src="{% static 'images/BeFunky-collage.jpg'%}" alt=""
											class="responsive-img z-depth-3" uk-cover>
									</li>
									<li>
										<img src="{% static 'images/FB_IMG_15711570797644995.jpg' %}" alt=""
											class="responsive-img" uk-cover>
									</li>
								</ul>
								<a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#"
									uk-slidenav-previous uk-slideshow-item="previous"></a>
								<a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#"
									uk-slidenav-next uk-slideshow-item="next"></a>
							</div>
						</div>
						<div class="col l6 m12 s12 text-section-parent" data-aos="fade-right" data-aos-duration="500"
							data-aos-easing="ease" data-aos-delay="700">
							<h1 class="center-align text-header text-title-section">Distribuye tus productos</h1>
							<h5 class="text-subtitle-section">Acércate a nosotros, te orientamos para que
								puedas distribuir tus
								productos</h5>
						</div>
					</div>
				</div>
			</section>
			<section class="section-container" id="asesorias">
				<h1 class="text-header text-title-section center-align" data-aos="zoom-in" data-aos-duration="500"
					data-aos-easing="ease">
					Asesorías y Trámites</h1>
				<div class="divider"></div>
				<br>
				<br>
				<br>
				<div class="container">
					<div class="row">
						<div class="col l6 m6 s12 advisory-container" data-aos="fade-up" data-aos-duration="500"
							data-aos-easing="ease" data-aos-delay="300">
							<div class="row">
								<img src="static/images/handshake.svg" alt="" class="svg-advisory">
							</div>
							<h6 class="text-header"><b>ASESORÍA Y REGISTRO A ESENCIA TABASCO</b></h6>
							<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro, quasi unde, labore at
								adipisci est incidunt molestias modi suscipit ad cum mollitia maxime alias delectus
								nihil non atque nostrum optio.</p>
							<div uk-dropdown="mode: click">loremememem1.</div>
						</div>
						<div class="col l6 m6 s12 advisory-container" data-aos="fade-up" data-aos-duration="500"
							data-aos-easing="ease" data-aos-delay="300">
							<div class="row">
								<img src="static/images/handshake.svg" alt="" class="svg-advisory">
							</div>
							<h6 class="text-header"><b>ASESORÍA Y REGISTRO A ESENCIA TABASCO</b></h6>
							<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro, quasi unde, labore at
								adipisci est incidunt molestias modi suscipit ad cum mollitia maxime alias delectus
								nihil non atque nostrum optio.</p>
							<div uk-dropdown="mode: click; pos: top-center">Lorem ipsum dolor sit amet, consectetur
								adipiscing elit, sed do eiusmod tempor incididunt.</div>
						</div>
						<div class="col l6 m6 s12 advisory-container" data-aos="fade-up" data-aos-duration="500"
							data-aos-easing="ease" data-aos-delay="300">
							<div class="row">
								<img src="static/images/handshake.svg" alt="" class="svg-advisory">
							</div>
							<h6 class="text-header"><b>ASESORÍA Y REGISTRO A ESENCIA TABASCO</b></h6>
							<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro, quasi unde, labore at
								adipisci est incidunt molestias modi suscipit ad cum mollitia maxime alias delectus
								nihil non atque nostrum optio.</p>
							<div uk-dropdown="mode: click; pos: top-center">Lorem ipsum dolor sit amet, consectetur
								adipiscing elit, sed do eiusmod tempor incididunt.</div>
						</div>
						<div class="col l6 m6 s12 advisory-container" data-aos="fade-up" data-aos-duration="500"
							data-aos-easing="ease" data-aos-delay="300">
							<div class="row">
								<img src="static/images/handshake.svg" alt="" class="svg-advisory">
							</div>
							<h6 class="text-header"><b>ASESORÍA Y REGISTRO A ESENCIA TABASCO</b></h6>
							<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro, quasi unde, labore at
								adipisci est incidunt molestias modi suscipit ad cum mollitia maxime alias delectus
								nihil non atque nostrum optio.</p>
							<div uk-dropdown="mode: click; pos: top-center">Lorem ipsum dolor sit amet, consectetur
								adipiscing elit, sed do eiusmod tempor incididunt.</div>
						</div>
					</div>
				</div>
			</section>
			<section class="section-container" id="noticias">
				<div class="container">
					<div class="row">
						<h4 class="text-header text-title-section">Entérate</h4><br>
						<div class="col l8 s12">
							<div class="row">
								<article class="article-notice col l6 m6 s12">
									<div class="uk-inline  z-depth-2 center-align">
										<img src="{% static 'images/FB_IMG_15711571202497070.jpg' %}" alt=""
											class="responsive-img">
										<div class="uk-overlay uk-overlay-primary uk-position-bottom">
											<h6 class="">Entrega de herramientas para aumentar producción.</h6>
										</div>
									</div>
								</article>
								<article class="article-notice col l6 m6 s12">
									<div class="uk-inline z-depth-2">
										<img src="{% static 'images/FB_IMG_15711571202497070.jpg' %}" alt=""
											class="responsive-img">
										<div class="uk-overlay uk-overlay-primary uk-position-bottom">
											<h6 class="">Entrega de herramientas para aumentar producción.</h6>
										</div>
									</div>
								</article>
								<article class="article-notice col l6 m6 s12">
									<div class="uk-inline z-depth-2">
										<img src="{% static 'images/FB_IMG_15711571202497070.jpg' %}" alt=""
											class="responsive-img">
										<div class="uk-overlay uk-overlay-primary uk-position-bottom">
											<h6 class="">Entrega de herramientas para aumentar producción.</h6>
										</div>
									</div>
								</article>
								<article class="article-notice col l6 m6 s12">
									<div class="uk-inline z-depth-2">
										<img src="{% static 'images/FB_IMG_15711570797644995.jpg' %}" alt=""
											class="responsive-img">
										<div class="uk-overlay uk-overlay-primary uk-position-bottom">
											<h6 class="">Entrega de herramientas para aumentar producción.</h6>
										</div>
									</div>
								</article>
							</div>
						</div>
						<div class="col l4 hide-on-med-and-down">
							<div class="container">
								<div class="row">
									<div class="col l12">
										<div class="fb-page"
											data-href="https://www.facebook.com/Esencia-Tabasco-309657036349926/"
											data-tabs="timeline" data-height="400" data-small-header="false"
											data-adapt-container-width="true" data-hide-cover="false"
											data-show-facepile="false">
											<blockquote cite="https://www.facebook.com/Esencia-Tabasco-309657036349926/"
												class="fb-xfbml-parse-ignore"><a
													href="https://www.facebook.com/Esencia-Tabasco-309657036349926/">Esencia
													Tabasco</a></blockquote>
										</div>
										<br>
										<br>
										<a class="twitter-timeline" data-height="400" data-width="100%"
											data-theme="light" data-link-color="#2B7BB9"
											href="https://twitter.com/EsenciaTabasco?ref_src=twsrc%5Etfw">Tweets by
											EsenciaTabasco</a>
										<script async src="https://platform.twitter.com/widgets.js"
											charset="utf-8"></script>
										<script async src="https://platform.twitter.com/widgets.js"
											charset="utf-8"></script>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Events zone -->
					<div class="row" id="eventos">
						<h5 class="text-header">PRÓXIMOS EVENTOS</h5><br>
						<div class="container">
							<div class="row">
								<div class="col l3 s12 m6">
									<div class="card-panel">
										<h6><b>Cumpleaños</b></h6>
										<div class="divider"></div>
										<p><i class="tiny material-icons">event</i>&nbsp;15 de Enero de 2019</p>
										<p><i class="tiny material-icons">schedule</i>&nbsp;10:00</p>
										<p><i class="tiny material-icons">place</i>&nbsp;Villahermosa, Tabasco</p>
									</div>
								</div>
								<div class="col l3 s12 m6">
									<div class="card-panel">
										<h6><b>Cumpleaños</b></h6>
										<div class="divider"></div>
										<p><i class="tiny material-icons">event</i>&nbsp;15 de Enero de 2019</p>
										<p><i class="tiny material-icons">schedule</i>&nbsp;10:00</p>
										<p><i class="tiny material-icons">place</i>&nbsp;Villahermosa, Tabasco</p>
									</div>
								</div>
								<div class="col l3 s12 m6">
									<div class="card-panel">
										<h6><b>Cumpleaños</b></h6>
										<div class="divider"></div>
										<p><i class="tiny material-icons">event</i>&nbsp;15 de Enero de 2019</p>
										<p><i class="tiny material-icons">schedule</i>&nbsp;10:00</p>
										<p><i class="tiny material-icons">place</i>&nbsp;Villahermosa, Tabasco</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</section>
		<section class="section-container section-container-color" id="contactanos">
			<div class="container">
				<div class="row">
					<h4 class="text-header text-title-section">Contáctanos o visítanos</h4><br>
					<div class="col l5 s12">
						<p>Prol. de Paseo Tabasco No.1504</p>
						<p>Col. Tabasco 2000</p>
						<p>C.P. 86035 Villahermosa, Tabasco, MX</p>
						<p>Tel. +52 (993) 3 10 97 50 Ext. 48002</p>
						<p>Lunes a Viernes de 8:00 a 15:00 hrs</p>
						<a href=""><img src="{% static 'images/facebook.png' %}" alt="" width="30px"></a>
						<a href=""><img src="{% static 'images/instagram.png' %}" alt="" width="30px"></a>
						<a href=""><img src="{% static 'images/twitter.png' %}" alt="" width="30px"></a>
						<br><br>
					</div>
					<div class="col l7 s12">
						<iframe
							src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3794.548554861725!2d-92.94602038580368!3d17.99972848959458!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85edd78cf2cbba5f%3A0x271107a6bbaad5dc!2sSecretar%C3%ADa%20para%20el%20Desarrollo%20Econ%C3%B3mico%20y%20la%20Competitividad%20del%20Estado%20de%20Tabasco!5e0!3m2!1ses!2smx!4v1572264882184!5m2!1ses!2smx"
							width="100%" height="350" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
					</div>
				</div>
			</div>
		</section>
		<a class="scrolltotop z-depth-1"><i class="material-icons">arrow_upward</i></i></a>
		<footer class="page-footer">
			<div class="container">
				<div class="row">
					<div class="col l6 s12">
						<img src="static/images/SEDEC_logo-04.png" width="190" height="150" alt="">
					</div>
					<div class="col l4 offset-l2 s12">
						<!-- <h5 class="white-text">Links</h5>
							<ul>
								<li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
								<li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
								<li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
								<li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
							</ul> -->
					</div>
				</div>
			</div>
			<div class="footer-copyright">
				<div class="container">
					© | Política de privacidad
					Sitio diseñado por la Secretaría para el Desarrollo Económico y la Competitividad
					<a class="grey-text text-lighten-4 right" href="#!">Aviso de privacidad</a>
				</div>
			</div>
		</footer>
	</main>
	<script src="{% static 'aos/aos.js' %}"></script>
	<script src="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/js/uikit.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/js/uikit-icons.min.js"></script>
	<script src="{% static 'materialize/js/materialize.min.js' %}"></script>
	<script src="{% static 'js/app.js' %}"></script>
</body>

</html>